<% @page_title = "Login" %>

<div id="sideBar">
  <h1><%= @page_title = "Login" %></h1>
  <div class="intro">
    <p>Almost there...<p>
  </div>
</div>


<div id="main">
  
  <% form_tag session_url do %>
    <p>
      <%= label_tag :login,'Your Login or Email Address' %>
      <%= text_field_tag :login, params[:login] %>
    </p>
  
    <p>
      <%= label_tag :password,'Your Password' %>
      <%= password_field_tag :password %>
    </p>
  
    <p>
      <button type="submit" value="submit">Log in</button>
    </p>
  <% end %>

</div>