<div class="<%= dom_class pair %>" id="<%= dom_id pair %>">
  <div class="<%= dom_class pair, :item_1 %>">
    <%= h pair.item_1 %>
  </div>  
  <div class="<%= dom_class pair, :item_2 %>">
    <%= h pair.item_2 %>
  </div>  
</div>