

<div id="sideBar">
  <h1><%= @page_title = "Play" %></h1>
  <div class="intro">
    <p>Rock or Pop? This or that? It is your choice.<p>
    <p>You will be surprised how much this simple game reveals...<p>
    <p><%= link_to "Reload", pairs_url %> new questions.</p>
  </div>
</div>  
  
<div id="main">
  <% if User.current? %>
    <p id="new_pair_form_opener">
      <%= link_to_function "Add new Questions?", "$('new_pair_form_opener').hide(); $('new_pair_form').show();" %> or answer below...
    </p>
    <div id="new_pair_form" style="display: none">
      <% remote_form_for Pair.new, :loading => "$('new_pair').reset(); $('pair_item_1').activate();" do |f| %>
        <fieldset class="item_1_pair">
          <%= f.text_field :item_1 %>
        </fieldset>
        <fieldset class="item_2_pair">
          <%= f.text_field :item_2 %>
        </fieldset>
        <button type="submit" value="submit">Add</button>
        <div class="clearLeft"> </div>
        <div id="new_pair_form_status"></div>
      <% end %>
    </div>
  <% end %>
  
  <ul class="pairs" id="pairs">
    <%= render @pairs %>
  </ul>
</div>

