


<div id="sideBar">
  <p><%= gravatar_for @user, :size => 200 %></p>
  <p>
    Has been a member for <%= time_ago_in_words @user.created_at %>.
    Other than that, we're pretty much clueless as to who this is.
  </p>
</div>

<div id="main">
  <h1><%= @page_title = @user.login %></h1>

  <ul id="selector">
    <li><a href="#"><strong>Answered</strong> (1223)</a></li>
    <li class="current"><a href="#"><strong>Added</strong> (12)</a></li>
  </ul>  
  <% if @pairs.any? %>
    <ul class="pairs">
      <%= render @pairs %>
    </ul>
  <% else %>
    <p class="none"><%= h @user.login %> has not answered any questions, yet.</p>
  <% end %>

  <% if @user.pairs.any? %>
    
    <ul class="pairs">
      <%= render @user.pairs %>
    </ul>
    <% else %>
       <p class="none"><%= h @user.login %> has not added any questions, yet.</p>
    <% end %>
</div>