<h1><%= h @user.login %></h1>

<h2>Information:</h2>
<p>
  Has been a member for <%= time_ago_in_words @user.created_at %>.
  Other than that, we're pretty much clueless as to who this is.
</p>

<h2>Pictures:</h2>
<p>
  No pictures uploaded yet. Maybe soon once we implement this.
</p>

<% if @user.chosen_pairs.any? %>
  <h2>Pairs <%= h @user.login %> has recently picked:</h2>
  <div class="pairs">
    <%= render @user.chosen_pairs %>
  </div>
<% end %>

<% if @user.pairs.any? %>
  <h2>Pairs <%= h @user.login %> has created:</h2>
  <div class="pairs">
    <%= render @user.pairs %>
  </div>
<% end %>
