<div id="sideBar">
  <p><%= gravatar_for @user, :size => 200 %></p>
  <p>
    Has been a member for <%= time_ago_in_words @user.created_at %>.
    Other than that, we're pretty much clueless as to who this is.
  </p>
</div>

<div id="main">
  <h1><%= @page_title = @user.login %></h1>
  
  <% if @pairs.any? %>
    <h2><%= @user.login %> has answered <%= @pairs.count %> questions</h2> 
    <ul class="pairs">
      <%= render @pairs %>
    </ul>
  <% else %>
    <p class="none"><%= h @user.login %> has not answered any questions, yet.</p>
  <% end %>

</div>